@font-face {
  font-family: 'UnitedSansCdLt';
  src: url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdLt.eot');
  src: url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdLt.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdLt.woff')
      format('woff');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'UnitedSansCdBd';
  src: url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdBd.eot');
  src: url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdBd.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdBd.woff')
      format('woff');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'UnitedSansCdHv';
  src: url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdHv.eot');
  src: url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdHv.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.nba.com/resources/static/team/v2/blazers/fonts/united/UnitedSansCdHv.woff')
      format('woff');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.unitedText {
  font-family: 'UnitedSansCdBd', franklin-gothic-urw;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 12px;
}

body {
  margin: 0 auto;
  background-color: #f5f5f5;
  padding-bottom: 0;
  color: #666666;
}

main {
  max-width: 400px;
  margin: 20px auto;
  max-height: fit-content;
  background-color: white;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

header,
#middle {
  padding: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1,
.team1,
.team2 {
  font-family: 'UnitedSansCdHv', franklin-gothic-urw;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

.date {
  font-family: 'UnitedSansCdLt', franklin-gothic-urw;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-size: 1em;
  margin: 12px auto;
}

.gameMedia {
  margin-right: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'UnitedSansCdLt', franklin-gothic-urw;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.gameMedia img {
  margin-right: 3px;
}

.gameMedia_tv {
  margin-right: 10px;
}

.ctaBtn {
  width: 130px;
  height: 36px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  margin: 30px auto 40px auto;
  background: #cc0000;
  border: none;
  /* box-shadow: 1px 4px 4px rgba(167, 165, 165, 0.2); */
  outline: none;
  transition: all 0.2s linear;
}

/* rounded button */
/* .ctaBtn {
  width: 130px;
  height: 36px;
  color: #fffdfd;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin: 30px auto 40px auto;
  background: #cc0000;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 4px 4px rgba(128, 128, 128, 0.2);
  outline: none;
  transition: all 0.2s linear;
} */

.ctaBtn:hover {
  cursor: pointer;
  background-color: #a50000;
  /* box-shadow: 2px 5px 4px rgba(167, 165, 165, 0.4); */
}

table {
  width: 100%;
  border-top: 2px solid #e3e3e3;
  padding: 0;
}

tr {
  font-family: 'Helvetica Neue';
  font-size: 0.7em;
  line-height: 15px;
}

.table {
  margin-bottom: 0;
}

.table > tbody > tr > td {
  margin: auto;
}

.table > thead > tr > th {
  border-bottom: none;
  padding: 8px 3px;
  font-size: 1em;
}

.table > tbody > tr > td {
  padding: 13px 3px;
  font-weight: 300;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 2px solid #ddd;
}

.table_matchup_div {
  display: flex;
  align-items: center;
  max-width: 150px;
}

.table_matchup_div > p {
  margin: 0 6px;
}

.matchup-header,
.table-time-slot {
  padding-left: 12px !important;
  padding-right: 0 !important;
}

.matchup_container {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Helvetica Neue';
  font-size: 22px;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.matchup-header {
  padding-right: 5px !important;
}

.table-time-slot {
  padding-left: 25px !important;
}

.padding_right {
  padding-right: 12px;
}

@media (max-width: 350px) {
  .table-time-slot {
    padding-left: 5px !important;
  }
}

.clickable:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
  color: black;
}

.clickable:focus {
  border: none;
  text-decoration: none;
  outline: none;
}
